<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.Reporter" />
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testcases.TC_01_LoginValid" />
			<class name="testcases.TC_02_LoginInvalidId" />
			<class name="testcases.TC_03_LoginInvalidPassword" />
			<class name="testcases.TC_04_LoginBlankId" />
			<class name="testcases.TC_05_VerifyForgotPassword" />
			<class name="testcases.TC_06_VerifyKeepMeSignedIn" />
			<class name="testcases.TC_07_VerifyAfterSignOutAccess" />
			<class name="testcases.TC_08_WaterTextOfSearchBox" />
			<class name="testcases.TC_09_SearchSuggestions" />
			<class name="testcases.TC_10_SearchResults" />
			<class name="testcases.TC_11_ResultsClickOpensInNewTab" />
			<class name="testcases.TC_12_VerifyAddToCart" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
